@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
/*---------------------------------------------
                    HEADER
 ---------------------------------------------- */




body {
    overflow-x: hidden;
    

}
section{
    padding: 7rem 7% 2rem;
    align-content: center;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-color:  #32CD32;
    
}

header {
    overflow-x: hidden;
    position: fixed;
    width: 100vw;
    display: flex;
    z-index: 100;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    box-shadow: 0.3px #32CD32;
}

a{
    background: -webkit-linear-gradient(75deg, #32CD32, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.logo {
    background: -webkit-linear-gradient(75deg, #32CD32, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.navbar-links {
    background: -webkit-linear-gradient(75deg, #32CD32, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: right;
    margin: auto;
}

.navbar-links ul {
    list-style: none;
    margin: auto;
}

.navbar-links li {
    display: inline-block;
    margin: auto;
    margin-right: 30px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
    font-size: 25px;
}

.navbar-links a {
    background: -webkit-linear-gradient(75deg, #32CD32, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.navbar-links li:hover {
    background: -webkit-linear-gradient(75deg, #32CD32, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom-color: #FFD700;
}



/**
section{
    padding: 15.4rem 4%;
    align-content: center;
    min-width: 90vw;

}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#32CD32;
    background-image: url(../images/galaxy-gif.gif);
    background-repeat: no-repeat;
    color: #000000;
}
