.text-typing p:nth-child(1){
width: 200px;  
-webkit-animation: type 1s steps(4, end);
animation: type 0.5s steps(4, end);
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}
.text-typing p:nth-child(2){
    width: 200px;  
    -webkit-animation: type 1s steps(4, end);
    animation: type 0.5s steps(4, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    }
    

@keyframes type{
    0%{ 
        width: 0;
    }
    99.9%{
          border-right: 0.05em solid #ccc;     
    }
    100%{
        border: none;
    }
}
@keyframes type2 {
    0%{ 
        width: 0;
    }
    99.9%{
          border-right: 0.05em solid #ccc;     
    }
    100%{
        border: none;
    }
}
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
  }


