@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}


a{
    text-decoration: none;
}
body{
    background-color: lavender;
  
}
.home-container{
   padding: 8px;
   display: flex;
   align-items: center;
   padding-top: 400px;

}

.prova{
  align-items: center;
  padding-top: 200px;
  padding-left: 200px;
}
/*
.about-container{
    display: block;
    height: 400px;
    width: 400px;
}
*/

.about-container{
  padding-top: 400px;
}
.sobre-container{
  border: 3px solid black;
}
.projects-container{
  padding-top: 400px;
}
.projeto-1{
  border: 3px solid black;
  border-radius: 70px;
  align-self: start;
}
.projeto-2{
  border: 3px solid black;
  border-radius: 70px;
}
.projeto-3{
  border:3px solid black;
  border-radius: 70px ;
}





.fatec-container{
  padding-top: 400px;
}
.contact-container{
  padding-top: 400px;
}

img.me{
    border-radius: 50%;
    padding: 8px;
}

footer{
    background-color: #147C12;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #147C12;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #ffffff;
  }