@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
/*---------------------------------------------
                    HEADER
 ---------------------------------------------- */

 /*USAR MEDIA QUERIES*/


body {
    overflow-x: hidden;
    

}
section{
    padding: 7rem 7% 2rem;
    align-content: center;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-color:  #32CD32;
    
}

header {
    overflow-x: hidden;
    position: fixed;
    width: 100vw;
    display: flex;
    z-index: 100;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    box-shadow: 0.3px #32CD32;
}

a{
    background: -webkit-linear-gradient(75deg, #32CD32, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.logo {
    background: -webkit-linear-gradient(75deg, #32CD32, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.navbar-links {
    background: -webkit-linear-gradient(75deg, #32CD32, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: right;
    margin: auto;
}

.navbar-links ul {
    list-style: none;
    margin: auto;
}

.navbar-links li {
    display: inline-block;
    margin: auto;
    margin-right: 30px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
    font-size: 25px;
}

.navbar-links a {
    background: -webkit-linear-gradient(75deg, #32CD32, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.navbar-links li:hover {
    background: -webkit-linear-gradient(75deg, #32CD32, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom-color: #FFD700;
}



/*---------------------------------------------
                    HOME
 ---------------------------------------------- */


.home-container{   
     display: flex;
     justify-content: center;
     align-items: center;
     background-color:#32CD32;
     background-image: url(../images/gifs-de-matrix-1.gif);
     color: #000000;
}

.text-typing{
    align-content: center;
    font-size: 4rem;
    font-weight: 800;
    background: -webkit-linear-gradient(75deg, #32CD32, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    animation-name: type;
    animation-duration: 4s;
    animation-delay: 2s;


}

p{
    color: aliceblue;
}
h2{
    color: aliceblue;
    font-size: 40px;
    font-weight: 700;
}
.me{
    border-radius: 50%;
    width: 20rem;
    
}


/*---------------------------------------------
                    SOBRE
 ---------------------------------------------- */


.about-container{
    background-color: #000000;
    
}

.about-text,
.fatec-text,
.dsm-text {
     border: 2px solid -webkit-linear-gradient(75deg, #32CD32, #FFD700);
     border-radius: 15px;
     box-shadow: 0px 0px 10px rgba(55, 201, 10, 0.3);
     padding: 20px;
     font-size: 20px;
     margin: 20px;
 }
span{
    font-weight: bolder;
    font-size: 50px;
    background: -webkit-linear-gradient(75deg, #32CD32, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.map{
    background-color: #000000;
    text-align: center;
    
}

.map iframe {
    width: 90%;
    height: 450px;
    border: 1px solid none;
    border-radius: 15px;
    
}

/*---------------------------------------------
                    PROJETOS
 ---------------------------------------------- */

.projeto-1 h2,
.projeto-2 h2,
.projeto-3 h2{
    color: #000000;
}

.projeto-1 p,
.projeto-2 p,
.projeto-3 p{
    color: #000000;
    font-size: 1.5rem;
}
.projeto-1 i,
.projeto-2 i{
    font-size: 2rem;   
}
.projeto-3 i{
    font-size: 1.5rem;
}
.projects-container{
    background-color: #000000;
}

.my-projects {
    font-size: 3.5rem;
    background: -webkit-linear-gradient(75deg, #32CD32, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
  }

  .project-display {
      display: flex;
      margin: auto;
      text-align: center;
      justify-content: center;
  }

  .project-display a {
      text-decoration: none;
  }
  
  .projects-container {
      align-content: center;
      text-align: center;
      width: 100vw;
      padding: 7rem 7% 2rem;
  }

.projeto-1,
.projeto-2,
.projeto-3 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 25vw;
  height: 65vh;
  padding: 20px;
  margin: 20px; 
  text-align: center;
  --border-size: 3px;
  --border-angle: 0turn;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  background: linear-gradient(60deg, #32CD32, #FFD700);
  transition: all 0.3s ease;
  cursor: pointer;
  color: #000000;

}

.projeto-1:hover,
.projeto-2:hover,
.projeto-3:hover {
    transform: scale(0.95);
}

.golearn,
.prova_web,
.prova_alg {
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
}


/*---------------------------------------------
                    FORMULÁRIO
 ---------------------------------------------- */

.forms-container{
    background-color: #000000;
    color: aliceblue;
    padding: 0rem 7% 2rem;
}

.formTitle {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin: 10px;
}

form{
    max-width: 50rem;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid none;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    
}

form input, form textarea{
    width: 100%;
    background-color: #f9f9fb;
    border: 1px solid #ccc;
    outline: 0;
    padding: 20px;
    border-radius: 15px;
    color: black;
    margin-bottom: 10px;
    justify-content: center;
    
}

::placeholder{
    color: rgb(34, 116, 14);
}

.botao-enviar{
    width: 400px;
    background-color: #32CD32;
    color: white;
    font-weight: 700;
   padding: 10px;
   border: none;
   border-radius: 10px;
   font-family: "Poppins", sans-serif;
   align-items: center;
   transition: all .3s ease;
}

.botao-enviar:hover {
    background-color: #14920b;
    transform: scale(0.95);
}

.btnContainer {
    align-items: center;
    text-align: center;
}



/*---------------------------------------------
                    FOOTER
 ---------------------------------------------- */


 .footer{
    background: linear-gradient(75deg, #32CD32, #FFD700);
 }

 .icons-footer{
    background-color: #000000;
    font-size: 6rem;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
 }
 .icons-footer i {
    color: rgb(0, 0, 0);
    padding: 5px;
    transition: .3s ease;
    margin-bottom: 20px;
}

.icons-footer a{
    text-decoration: none;
}
.icons-footer i:hover {
    cursor: pointer;
    font-size: 5.5rem;
}

 .copy {
    font-family: "Poppins", sans-serif;
    text-align: center;
    align-content: center;
    font-size: 0.8rem;
    color: white;
    background-color: rgb(0, 0, 0);
    height: 45vh;
    border-radius: 50px;
}

.copy h2 {
    font-size: 3.5rem;
    background: -webkit-linear-gradient(75deg, #32CD32, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

